




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #bd5252;
}

nav ul {
    position:fixed;
    margin-top: -91px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   padding: 20px;
   box-shadow: 0px 4px 4px 0px rgb(167, 167, 167);
    
}
ul {
    display: flex;
    margin-right: 11px;
}
nav ul #homes{
    color: rgb(218, 9, 9);
}
nav button{
    width: 80px;
    height: 30px; 
    background-color: rgb(202, 15, 15);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 32px;

}
av button:hover{
    
    background-color: transparent;
    border: 2px solid rgb(235, 4, 4);
    color: black;
    transition: 0.3s ease;
    
    
}
#log{
    position: absolute;
    margin-left: 78%;
    margin-top: -1%;
    display: none;
    width: 230px;
    text-align: center;
    background-color: #fff;
    padding: 22px;

}
#log input{
    width: 200px;
    outline: none;
    background-color: transparent;
    margin-top: 11px;
    padding: 5px;
    border: 2px solid black;
}
#log button{
    width: 100px;
    height: 30px;
    background-color:rgb(206, 2, 2);
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 11px;
}

ul a{
    text-decoration: none;
    margin-inline: 29px;
    margin-top: 7px;
    cursor: pointer;
    color: black;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-content ul li a {
    text-decoration: none;
    color: #fff;
}



